# Default values for conjur-oss.


# NOTE: It is recommended that any chart values that contain sensitive
# information (e.g. database.password, database.url, and SSL certificates
# and keys) be set on the command line with a `--set key=value` argument
# rather than setting these in a custom values YAML file. This avoids the
# risk of leaving around residual values files containing this sensitive
# information.

account:
  # Name of Conjur account to be created. Maps to CONJUR_ACCOUNT env variable
  # for the Conjur container.
  name: "default"
  # Set to 'true' to allow the Conjur server to automatically create an account
  # with the configured account.name.
  create: false

# Affinity rules to apply to the Conjur pod to indicate to Kubernetes scheduler
# which nodes would be most appropriate for Conjur pod placement. See:
# https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node
affinity: {}

# Conjur whitelisted authenticators, presented as a comma-separated list.
# Maps to CONJUR_AUTHENTICATORS env variable for the Conjur container.
authenticators: "authn"

# Additional labels to apply to all conjur resources
conjurLabels: {}

# Conjur log level. Set to 'debug' to enable detailed debug logs
# in the Conjur container.
logLevel: "info"

database:
  secrets:
    # Secrets can be generated automatically by Helm or they can be pre-existing secrets
    # created outside Helm. Benefits to using pre-existing secrets include better support
    # for ArgoCD or GitOps deployments where the deployer needs to control the secret
    # lifecycle. Also avoids sync issues where conjur-oss and conjur-postgres can get
    # out of sync with passwords when changes are made via GitOps.

    # createDatabasePasswordSecrets: boolean
    # true: create the secrets using either the value in "password" or generate one
    # false: Use the fields 'databaseUrlSecret' and 'databasePasswordSecret' in the deployment
    createDatabasePasswordSecrets: true

    # PostgreSQL connection password. If left blank, a pseudo-random,
    # 64-character alphanumeric password will be auto-generated.
    # Note that this value will be ignored for Helm upgrade operations.
    # Also Note: this value will be ignored when createDatabasePasswordSecrets is false
    password: ""

    # When createDatabasePasswordSecrets is set to false, the following values are used
    # to reference existing secrets, preventing regeneration of credentials during GitOps.
    # Also helps with secret rotation and management.
    #
    # database url secret should be a secret in the same namespace containing a base64
    # encoded connection string:
    # data:
    #   key: <base64 encoded string>
    # string format is:
    #   postgres://postgres:%s@%v-postgres/postgres?sslmode=require
    # where:
    # %s = password (same value as `databasePasswordSecret`)
    # %v = release name (usually <namespace>-<application-name> in GitOps deployments)
    databaseUrlSecret: "conjur-database-url"

    # Value within secret is a single base64 encoded string with the password.
    # data:
    #   key: <base64 encoded password>
    databasePasswordSecret: "conjur-database-password"

  ssl:
    # Backend database SSL certificate and private key. These should be
    # base64-encoded strings. If these values are not set, a self-signed
    # certificate will be auto-generated.
    # cert:
    # key:
    # Expiration for an auto-generated cert.
    expiration: 365 # days

  # PostgreSQL connection string. If left blank, a PostgreSQL deployment
  # is created. This value will be ignored for Helm upgrade operations
  # (i.e. value used for install is reused).
  url: ""

# Conjur data key, 32 byte base-64 encoded string for data encryption.
# Generate one with `docker run --rm cyberark/conjur data-key generate`.

# Either provide dataKey directly or use dataKeySecretName to reference an existing secret.
# createDataKeySecret: boolean
# true: create the secret using the value in 'dataKey' (not recommended for git-committed values.yaml)
# false: use an existing secret specified by 'dataKeySecretName'
createDataKeySecret: true

# If createDataKeySecret == true, provide the dataKey value here.
# dataKey:

# If createDataKeySecret == false, provide the name of an existing secret.
# Secret must have the following structure:
# data:
#   key: <base64 encoded data-key>
dataKeySecretName: "conjur-data-key"

# Annotations to apply to the Conjur deployment.
deployment:
  annotations: {}

image:
  # NOTE: For OpenShift deployments, the default values to use for the
  # Conjur image are as follows:
  #
  # repository: registry.connect.redhat.com/cyberark/conjur
  # tag: latest
  repository: cyberark/conjur  # https://hub.docker.com/r/cyberark/conjur/
  tag: 'latest'
  pullPolicy: Always

nginx:
  image:
    # NOTE: For OpenShift deployments, the default values to use for the
    # NGINX image are as follows:
    #
    # repository: registry.connect.redhat.com/cyberark/conjur-nginx
    # tag: latest
    repository: nginx          # https://hub.docker.com/_/nginx/
    tag: '1.29'
    pullPolicy: Always

  # If you do want to specify resources, uncomment the following lines, adjust
  # them as necessary, and remove the curly braces after 'resources:'.
  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi
      
# nodeSelector (node selection constraints) to apply to the Conjur pod. Refer to:
# https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
nodeSelector: {}

postgres:
  image:
    # NOTE: For OpenShift deployments, the default values to use for the
    # postgres image are as follows:
    #
    # repository: registry.redhat.io/rhel8/postgresql-15
    # tag: latest
    repository: postgres       # https://hub.docker.com/_/postgres/
    tag: '15'
    pullPolicy: Always
      
  persistentVolume:
    create: true
    size: 8Gi
    # Set storageClass to use a non-default storage class for your platform
    # storageClass:

  # If you do want to specify resources, uncomment the following lines, adjust
  # them as necessary, and remove the curly braces after 'resources:'.
  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

# Additional labels to apply to all postgres-related resources
postgresLabels: {}

# Indicates whether the Conjur ClusterRole and ClusterRoleBinding should be
# created. This should be set to true, unless there is already a Conjur
# deployment in a separate namespace that has already created these
# cluster-wide resources.
#
# NOTE: This setting is deprecated and will be replaced in the next major
# release with two separate settings:
#   - rbac.createClusterRole        (defaulting to true)
#   - rbac.createClusterRoleBinding (defaulting to false)
# and the recommendation will be for chart users to create RoleBindings
# for each individual namespace that supports applications that require
# Conjur Kubernetes authentication.
rbac:
  create: true

# Number of Conjur pods to run
replicaCount: 1

# Conjur container resource limits and requests. It is recommended that
# these Conjur-specific limits/requests remain unset, and instead let the
# Conjur container resources be constrained by namespace-wide limit ranges
# and resource quotas. The namespace-wide resource limitations are
# typically set by a cluster administrator to values that make sense for
# the host Kubernetes platform.
# 
# If you do want to specify resources, uncomment the following lines, adjust
# them as necessary, and remove the curly braces after 'resources:'.
resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

service:
  external:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
    enabled: true
    port: 443

  internal:
    annotations: {}
    port: 443
    type: NodePort

ssl:
  # Conjur CA certificate and key, and signed certificate and key. These
  # should be base64-encoded. If left blank, CA certificate and signed
  # certificate will be auto-generated.
  # caCert:
  # caKey:
  # cert:
  # key:

  expiration: 365 # days
  hostname: "conjur.myorg.com"
  altNames: []

test:
  deleteOnSuccess: true  # If true, test pods are deleted upon successful
                         # test completion. Otherwise, test pods are not
                         # automatically deleted upon test completion,
                         # regardless of test success or failure.

serviceAccount:
  # Indicates whether Conjur service account should be created or not.
  # Typically set to `true`, unless the service account has already been
  # created outside of this Helm chart workflow.
  create: true
  # Suffix to apply to the Conjur service account name.
  # name:

# Tolerations to apply to the Conjur pod to indicate to the Kubernetes
# scheduler which nodes should be avoided for Conjur pod placement. See:
# https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration
tolerations: []

# Set enabled true for OCP support
openshift: 
  enabled: false

# Set enabled to true to enable the Export API key feature.
# This feature allows the Conjur server to export the API key for a given
# Conjur user to a Kubernetes secret.
exportAPIkey:
  enabled: false # If true, ensure account.create is also true.
  secretName: "conjur-oss-conjur-admin-token"
  ttl: "10 minutes"
  image:
    repository: registry.gitlab.com/gitlab-ci-utils/curl-jq
    tag: "3.2.1"
    pullPolicy: Always